.grid{
    display: grid;
    grid-gap: 30px; 
    grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
    margin-top: 50px;
    padding-bottom: 35px;

    .card{
        cursor: pointer;

        .image__box{
            width: 100%;
            background-color: #f7f4ff;
            padding: 10px;
            border-radius: 10px;

            img{
                width: 100%;
                height: clamp(200px, 26vh, 280px);
            }
        }

        p{
            margin-top: 10px;
            font-family: var(--poppins);
            font-weight: 700;
            font-size: clamp(18px, 1.3vw, 22px);
            color: #242e6c;

            span{
                font-family: var(--lora);
                font-weight: 400;
            }
        }

        p{
            margin-top: 10px;
            font-family: var(--lora);
            font-weight: 800;
            font-size: clamp(16px, 1.3vw, 20px);
        }
    }
}