header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;

    h1{
        font-family: var(--poppins);
        font-weight: 600;
        font-size: clamp(20px, 1.5vw, 28px);

        span{
            color: var(--orange);
        }
    }

    nav ul{
        list-style: none;

        li{
            font-family: var(--lora);

            a{
                text-decoration: none;
                font-weight: 300;
                font-size: clamp(16px, 1.5vw, 20px);
                color: black;
            }
        }
    }
}